main{
    .menu-contenido-padre{
        margin: 10rem;
        @include mobile {
            margin: 0;
            margin-bottom: 10rem;
        }
        @include mobile-m{
            margin: 0;
            margin-bottom: 10rem;
        }
        @include tablet{
            margin: 0;
            margin-bottom: 10rem;
        }
        @include desktop-small{
            margin: 0;
            margin-bottom: 10rem;
        }
        @include desktop-large{
            margin: 0;
            margin-bottom: 10rem;
        }
        .Menu-contenido{
            margin: 0;
            display: flex;
            justify-content: center;
            .select-menu{
                width: 50%;
                margin: 1rem auto; /* 10px */
                @include mobile{
                    width: 95%;
                    margin: 0.5rem;
                }
                @include mobile-m{
                    width: 95%;
                    margin: 0.5rem;
                }
                @include tablet{
                    width: 60%;
                    margin: 0.5rem;
                }
                @include desktop-small{
                    width: 60%;
                    margin: 0.5rem;
                }
                @include desktop-medium{
                    width: 60%;
                    margin: 0.5rem;
                }
                @include desktop-large{
                    width:60%;
                    margin: 0.5rem;
                }
                .select-btn{
                    display: flex;
                    height: 5.5rem; /* 55px */
                    background: #fff;
                    padding: 2rem; /* 20px */
                    font-size: 1.8rem; /* 18px */
                    font-weight: 400;
                    border-radius: 0.8rem; /* 8px */
                    align-items: center;
                    cursor: pointer;
                    justify-content: space-between;
                    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
                    @include mobile{
                        height: 2.4rem; /* 55px */
                        font-size: 1rem;
                    }
                    @include mobile-m{
                        height: 2.4rem; /* 55px */
                        font-size: 1rem;
                    }
                    @include tablet{
                        height: 2.4rem; /* 55px */
                        font-size: 1rem;
                    }
                    @include desktop-small{
                        height: 2.4rem; /* 55px */
                        font-size: 1rem;
                    }
                    @include desktop-medium{
                        height: 2.4rem; /* 55px */
                        font-size: 1.4rem;
                    }
                    @include desktop-large{
                        height: 2.4rem; /* 55px */
                        font-size: 1.4rem;
                    }
                    i{
                        font-size: 2.5rem; /* 25px */
                        transition: 0.3s;
                        @include mobile{
                            font-size: 1.5rem;
                        }
                        @include mobile-m{
                            font-size: 1.5rem;
                        }
                        @include tablet{
                            font-size: 1.5rem;
                        }
                        @include desktop-small{
                            font-size: 1.5rem;
                        }
                        @include desktop-medium{
                            font-size: 1.4rem;
                        }
                        @include desktop-large{
                            font-size: 1.4rem;
                        }
                    }
                    
                }
                &.active .select-btn i {
                    transform: rotate(-180deg);
                }
                .options{
                    position: relative;
                    margin-top: 1rem;
                    background: #fff;
                    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
                    display: none;
                    padding: 0.5rem;
                    border-radius: 1rem;
                    .options{
                        padding: 0.5rem;
                        border-radius: 1rem;
                        .option-hed{
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            padding: 1rem;
                            &:hover{
                                border-radius: 0.8rem;
                                background-color: gray;
                            }
                            span{
                                font-size: 18px;
                                font-weight: 400;
                                margin-left: 1.2rem;
                            }
                        }
                        .options-sub{
                            display: none;
                            .option-sub{
                                display: flex;
                                height: 5.5rem;
                                cursor: pointer;
                                padding: 0 1.6rem;
                                border-radius: 0.8rem;
                                align-items: center;
                                background: #fff;
                                &:hover{
                                    background: #cccccc;
                                }
                            }
                        }
                    }
                }
                &.active .options-sub.show {
                    display: block;
                }

                &.active .options {
                    display: block;
                }
            }
        }
        .modal{
            display: none; /* Ocultar modal por defecto */
            position: fixed; /* Posición fija */
            z-index: 1000; /* Colocar el modal encima del resto del contenido */
            left: 0;
            top: 0;
            width: 100%; /* Tamaño completo */
            height: 100%; /* Tamaño completo */
            background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
            overflow: auto; /* Agregar desplazamiento si es necesario */
            img{
                display: block;
                margin: auto; /* Centrar la imagen horizontalmente */
                max-width: 80%; /* Ancho máximo */
                max-height: 80%; /* Altura máxima */
                position: absolute; /* Posición absoluta */
                top: 50%; /* Centrar verticalmente */
                left: 50%; /* Centrar horizontalmente */
                transform: translate(-50%, -50%); /* Centrar en la pantalla */
                border-radius: 5px;
            }
        }
    }
}