main{
    .Contactame{
        display: flex;
        justify-content: center;
        .contacto_box{
            margin-bottom: 10rem;
            padding: 2rem;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 34rem; /* 340px */
            background: #1794ee;
            border-radius: 1.6rem; /* 16px */
            @include mobile{
                margin-bottom: 0;
                padding: 2rem;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
                text-align: center;
                width: 34rem; /* 340px */
            }
            @include mobile-m{
                margin-bottom: 0;
                padding: 2rem;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
                text-align: center;
                width: 34rem; /* 340px */
            }
            @include tablet{
                margin-bottom: 0;
                padding: 2rem;
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
                text-align: center;
                width: 34rem; /* 340px */
            }
            h2{
                color: rgb(0, 0, 0);
                font-size: 2rem; /* 20px */
            }
            .input_contact{
                display: flex;
                flex-direction: column;
                text-align: left;
                label{
                    color: #283629;
                    font-size: 1.4rem; /* 14px */
                    font-weight: 600;
                    margin-bottom: 0.4rem; /* 4px */
                    @include mobile{
                        font-size: 1rem;
                        margin-bottom: 0.2rem; /* 4px */
                    }
                    @include mobile-m{
                        font-size: 1rem;
                        margin-bottom: 0.2rem; /* 4px */
                    }
                    @include tablet{
                        font-size: 1rem;
                        margin-bottom: 0.2rem; /* 4px */
                    }
                }
                input{
                    padding: 1rem 2.5rem; /* 10px 25px */
                    border-radius: 1rem; /* 25px */
                    margin-bottom: 2rem; /* 20px */
                    background-color: white;
                    border: 0.1rem solid wheat; /* 1px */
                    color: gray;
                    outline: none;
                    &::placeholder{
                        color: #ccc;
                    }
                    @include mobile{
                        padding: 0.8rem 1rem; /* 10px 25px */
                        margin-bottom: 1rem; /* 20px */
                        border-radius: 0.5rem; /* 25px */
                    }
                    @include mobile-m{
                        padding: 0.8rem 1rem; /* 10px 25px */
                        margin-bottom: 1rem; /* 20px */
                        border-radius: 0.5rem; /* 25px */
                    }
                    @include tablet{
                        padding: 0.8rem 1rem; /* 10px 25px */
                        margin-bottom: 1rem; /* 20px */
                        border-radius: 0.5rem; /* 25px */
                    }
                }
                textarea{
                    padding: 1rem 2.5rem; /* 10px 25px */
                    border-radius: 1rem; /* 25px */
                    margin-bottom: 2rem; /* 20px */
                    background-color: white;
                    border: 0.1rem solid wheat; /* 1px */
                    color: gray;
                    outline: none;
                        &::placeholder{
                            color: #ccc;
                        }
                        @include mobile{
                            padding: 0.8rem 1rem; /* 10px 25px */
                            margin-bottom: 1rem; /* 20px */
                            border-radius: 0.5rem; /* 25px */
                        }
                        @include mobile-m{
                            padding: 0.8rem 1rem; /* 10px 25px */
                            margin-bottom: 1rem; /* 20px */
                            border-radius: 0.5rem; /* 25px */
                        }
                        @include tablet{
                            padding: 0.8rem 1rem; /* 10px 25px */
                            margin-bottom: 1rem; /* 20px */
                            border-radius: 0.5rem; /* 25px */
                        }
                    }
                    .form{
                        margin-bottom: 3rem; /* 30px */
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        }
                        .btn_enviar{
                            height: 5rem; /* 50px */
                            font-size: 1.4rem; /* 14px */
                            color: white;
                            border: 0;
                            border-radius: 1rem; /* 25px */
                            background-color: #1794ee;
                            box-shadow: 0 0 2rem rgb(255, 0, 208);
                            cursor: pointer;
                                &:hover{
                                    background-color: #283629;
                                }

                            }
                            #liveAlertBtn{
                                font-size: 2rem;
                                height: 5rem;
                                }
            }
        }
    }
}