footer{
    margin-bottom: 1rem; /* 40px */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 2rem; /* 20px */
    @include mobile{
        margin-bottom: 1rem;
    }
    .nav_bar{
        background-color: rgb(255, 255, 255);
        border-radius: 2rem; /* 18px */
        border: solid 0.1rem rgb(100, 100, 100); /* 1px */
        display: flex;
        justify-content: space-around;
        padding: 0.5rem 1.5rem;
        @include mobile{
            width: 320px;
            padding: 0.5rem 0rem;
            border-radius: 1rem; /* 18px */
        }
        @include mobile-m{
            width: 440px;
            padding: 0.5rem 1rem;
            border-radius: 1rem; /* 18px */
        }
        @include tablet{
            width: 560px;
            padding: 0.5rem 1rem;
            border-radius: 1rem; /* 18px */
        }
        @include desktop-small{
            width: 560px;
            padding: 0.5rem 1rem;
            border-radius: 1rem; /* 18px */
        }
        @include desktop-medium{
            width: 560px;
            padding: 0.5rem 1rem;
            border-radius: 1rem; /* 18px */
        }
        @include desktop-large{
            width: 560px;
            padding: 0.5rem 1rem;
            border-radius: 1rem; /* 18px */
        }
        a{  
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            color: black;
            padding: 0.4rem; /* 4px */
            border-bottom: 0.1rem solid transparent; /* 1px */
            transition: border-bottom-color 0.3s; /* Transición suave */
            &:hover{
                color: gray;
                border-bottom-color: #000; /* Cambia el color de la línea al pasar el ratón */
            }
            @include mobile{
                height: 1.4rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0rem;
            }
            @include mobile-m{
                height: 2rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0rem;
            }
            @include tablet{
                height: 2rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0.4rem ;
            }
            @include desktop-small{
                height: 2rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0.4rem ;
            }
            @include desktop-medium{
                height: 2rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0.4rem ;
            }
            @include desktop-large{
                height: 2rem; /* 24px */
                padding: auto; /* 4px */
                margin: 0.4rem ;
            }
            p{
                display: flex;
                justify-content: center;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-style: normal;
                font-size: 1.6rem; /* 16px */
                @include mobile{
                    font-weight: 600;
                    font-size: 0.7rem;
                }
                @include mobile-m{
                    font-weight: 600;
                    font-size: 1rem;
                }
                @include tablet{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                @include desktop-small{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                @include desktop-medium{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                @include desktop-large{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                @include mobile{
                    font-size: 1rem;
                }
                @include mobile-m{
                    font-size: 1.2rem;
                }
                @include tablet{
                    font-size: 1.2rem;
                }
                @include desktop-small{
                    font-size: 1.2rem;
                }
                @include desktop-medium{
                    font-size: 1.2rem;
                }
                @include desktop-large{
                    font-size: 1.2rem;
                }
            }
        }
    }
}