main {
    margin-top: 5rem;
    .proy_2 {
        .conten {
        .conten_info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 2rem;
    
            p {
            color: #FFF;
            margin: 4rem 0;
            font-size: 24px;
                @include mobile{
                    font-size: 16px;
                    margin: 2rem 0.4rem;
                }
                    @include mobile-m{
                        font-size: 16px;
                        margin: 2rem 0.4rem;
                    }
                        @include tablet{
                            font-size: 16px;
                            margin: 2rem 0.4rem;
                        }
                            @include desktop-small{
                                font-size: 16px;
                                margin: 2rem 0.4rem;
                            }
                                @include desktop-small{
                                    font-size: 16px;
                                    margin: 2rem 0.4rem;
                                }
                                    @include desktop-medium{
                                        font-size: 18px;
                                        margin: 2rem 0.4rem;
                                    }
    
            }
        }
        }
    }
    }