main {
    margin-top: 5rem;
    .proy_2 {
      display: flex;

      .p_arrow{
        display: flex;
        position: fixed;
        margin: 2rem 6%;
        @include mobile{
          display: flex;
          position: absolute;
          margin: -1rem 2%;
        }
        @include mobile-m{
          display: flex;
          position: absolute;
          margin: -1rem 2%;
        }
        @include tablet{
          display: flex;
          position: fixed;
          margin: 2rem 1%;
        }
        i{
          font-size: 1.4rem;
          color: #FFF;
          @include mobile{
            font-size: 1rem;
          }
          @include mobile-m{
            font-size: 1rem;
          }
          @include tablet{
            font-size: 1rem;
          }
        }
      }
      
      .p_2_menu {
        margin: 5rem 6% ;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
        border-radius: 0.5rem;
        @include mobile{
          display: none;
        }
        @include mobile-m{
          display: none;
        }
        @include tablet{
          margin: 5rem 1% ;
          width: 10rem;
        }
        a {
          color: #FFF;
          text-decoration: none;
          font-size: 21px;
          margin-top: 1rem;
          &:hover {
            color: gray;
          }
          @include tablet{
            font-size: 14px;
          }
        }
      }
  
      .conten {
        width: 70%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mobile{
          width: 100%;
          margin-left: 0;
          margin-top: 1rem;
        }
        @include mobile-m{
          width: 100%;
          margin-left: 0;
          margin-top: 1rem;
        }
        @include tablet{
          width: 80%;
          margin-left: 16%;
          padding: 1rem;
        }
        .conten_hed {
          margin: 0rem 0rem 4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          @include mobile{
            margin: 0rem 0rem 2rem;
            padding: 0.4rem;
          }
          @include mobile-m{
            margin: 0rem 0rem 2rem;
            padding: 0.4rem;
          }
          @include tablet{
            margin: 0rem 0rem 2rem;
            padding: 0.4rem;
          }
          .hed_title {
            h1, p {
              color: #FFF;
            }
            h1{
              font-size: 5rem;
              @include mobile{
                font-size: 2rem;
              }
              @include mobile-m{
                font-size: 2rem;
              }
              @include tablet{
                font-size: 2rem;
              }
            }
            p{
              font-size: 2.5rem;
              @include mobile{
                font-size: 0.8rem;
              }
              @include mobile-m{
                font-size: 0.8rem;
              }
              @include tablet{
                font-size: 0.8rem;
              }
            } 
          }
  
          .hed_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFF;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            @include mobile{
              width: 2rem;
              height: 2rem;
            }
            @include mobile-m{
              width: 2rem;
              height: 2rem;
            }
            @include tablet{
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }
  