<<<<<<< HEAD
@import "media";
@import "footer";
@import "header";
@import "home";
@import "proyectos1";
@import "proyectos2";
@import"aboutme";
@import "aboutme-st";
@import "contactme";
@import "limpiapp";
/* dark mood*/


* {
margin: 0;
padding: 0;
}

html{


    body{
        background-color: #2b2b2b;
        font-family: 'Poppins', sans-serif;

    }
}

$t-color-dark: #000000;
$t-color-white: #fff ;

$t-fonts-h1: font-size 4.2rem;
$t-fonts-h2: font-size 2.6rem;
$t-fonts-h3: font-size 1.6rem;
$t-fonts-h4: font-size 1.0rem;
$t-fonts-p:font-size 84px;;

$flex-center: (
display: flex,
justify-content: center,
align-items: center
);

=======
@import "media";
@import "footer";
@import "header";
@import "home";
@import "proyectos1";
@import "proyectos2";
@import"aboutme";
@import "aboutme-st";
@import "contactme";
@import "limpiapp";
/* dark mood*/


* {
margin: 0;
padding: 0;
}

html{


    body{
        background-color: #2b2b2b;
        font-family: 'Poppins', sans-serif;

    }
}

$t-color-dark: #000000;
$t-color-white: #fff ;

$t-fonts-h1: font-size 4.2rem;
$t-fonts-h2: font-size 2.6rem;
$t-fonts-h3: font-size 1.6rem;
$t-fonts-h4: font-size 1.0rem;
$t-fonts-p:font-size 84px;;

$flex-center: (
display: flex,
justify-content: center,
align-items: center
);

>>>>>>> 721aee9ac924cbd1c6636d5606204ca05d8c693e
